<div class="create-rdv animated bounceInDown">

    <form novalidate>

        <header class="header">
            <h1 class="titre">Créer un nouveau RDV</h1>
        </header>

        <div class="content">

            <div class="beneficiaires">

                <h4>Pour :</h4>

                <ul>
                    <li></li>
                </ul>
            </div>

            <div class="ps">
                <h4>Chez : </h4>

            </div>

            <div class="date">
            </div>


        </div>

        <footer class="footer">
            <button type="submit" class="btn large">
                Créer
            </button>
        </footer>

    </form>

</div>

